In [26]:
# Import library yang diperlukan
import pandas as pd

In [27]:
# Nama file CSV
CSV_FILE = "motor_data.csv"

try:
    # Membaca file CSV menggunakan pandas
    data = pd.read_csv(CSV_FILE)
    
    # Menampilkan data dalam tabel
    print("Data from motor_data.csv:")
    display(data)  # Gunakan display() untuk tampilan Jupyter yang lebih baik
except FileNotFoundError:
    print(f"Error: File {CSV_FILE} not found.")
except Exception as e:
    print(f"Error reading CSV file: {e}")

Data from motor_data.csv:

,Timestamp,TurnValue,ThrottleValue,SafetyValue,ModeValue,ForwardValue,StatusValue
0,2024-11-17 08:07:34,1504,0,0,0,0,0
1,2024-11-17 08:07:34,1504,990,0,0,0,0
2,2024-11-17 08:07:34,1504,990,1000,0,0,0
3,2024-11-17 08:07:34,1504,990,1000,0,1000,0
4,2024-11-17 08:07:34,1504,990,1000,0,1000,1000
...,...,...,...,...,...,...,...
2110,2024-11-17 08:11:07,1519,990,1000,0,1000,1000
2111,2024-11-17 08:11:07,1519,990,1000,0,1000,1000
2112,2024-11-17 08:11:07,1519,990,1000,0,1000,1000
2113,2024-11-17 08:11:07,1519,990,1000,0,1000,1000
2114,2024-11-17 08:11:07,1519,990,1000,0,1000,1000

In [28]:
# Menyaring data hanya dengan StatusValue > 1800
filtered_data = data[data['StatusValue'] > 1500]

# Menampilkan data yang sudah difilter
print("Filtered Data (StatusValue > 1800):")
display(filtered_data)  # Gunakan display() untuk tampilan Jupyter yang lebih baik

Filtered Data (StatusValue > 1800):

,Timestamp,TurnValue,ThrottleValue,SafetyValue,ModeValue,ForwardValue,StatusValue
459,2024-11-17 08:08:20,1507,1033,2000,0,2000,2000
460,2024-11-17 08:08:20,1507,1033,2000,0,2000,2000
461,2024-11-17 08:08:20,1507,1299,2000,0,2000,2000
462,2024-11-17 08:08:20,1507,1299,2000,0,2000,2000
463,2024-11-17 08:08:20,1507,1299,2000,0,2000,2000
...,...,...,...,...,...,...,...
2024,2024-11-17 08:10:58,1519,1897,2000,0,2000,2000
2025,2024-11-17 08:10:59,1519,1897,2000,0,2000,2000
2026,2024-11-17 08:10:59,1519,990,2000,0,2000,2000
2027,2024-11-17 08:10:59,1519,990,2000,0,2000,2000
2028,2024-11-17 08:10:59,1519,990,2000,0,2000,2000

In [29]:
# Memeriksa nilai ModeValue yang bukan 0 dan ForwardValue yang bukan 2000
invalid_mode_forward = filtered_data[(filtered_data['ModeValue'] != 0) & (filtered_data['ForwardValue'] != 2000) & (filtered_data['SafetyValue'] != 2000)]

# Menampilkan hasil pemeriksaan ModeValue dan ForwardValue
if invalid_mode_forward.empty:
    print("Tidak ditemukan nilai ModeValue =! 0 dan ForwardValue =! 2000 dalam data dengan StatusValue =!2000.")
else:
    print("Ditemukan nilai ModeValue =! 0 dan ForwardValue =! 2000 dalam data dengan StatusValue =!2000:")
    display(invalid_mode_forward)

Tidak ditemukan nilai ModeValue =! 0 dan ForwardValue =! 2000 dalam data dengan StatusValue =!2000.

In [30]:
# Menghapus kolom ModeValue, ForwardValue, dan SafetyValue dari filtered_data
cleaned_data = filtered_data.drop(columns=['ModeValue', 'ForwardValue', 'SafetyValue'])

# Menampilkan data yang telah dibersihkan
print("Data setelah menghapus kolom ModeValue, ForwardValue, dan SafetyValue:")
display(cleaned_data)

Data setelah menghapus kolom ModeValue, ForwardValue, dan SafetyValue:

                Timestamp  TurnValue  ThrottleValue  StatusValue
459   2024-11-17 08:08:20       1507           1033         2000
460   2024-11-17 08:08:20       1507           1033         2000
461   2024-11-17 08:08:20       1507           1299         2000
462   2024-11-17 08:08:20       1507           1299         2000
463   2024-11-17 08:08:20       1507           1299         2000
...                   ...        ...            ...          ...
2024  2024-11-17 08:10:58       1519           1897         2000
2025  2024-11-17 08:10:59       1519           1897         2000
2026  2024-11-17 08:10:59       1519            990         2000
2027  2024-11-17 08:10:59       1519            990         2000
2028  2024-11-17 08:10:59       1519            990         2000

[320 rows x 4 columns]

In [31]:
# Memeriksa nilai unik pada ThrottleValue
unique_values = cleaned_data['ThrottleValue'].unique()

# Menampilkan semua nilai unik
print("Nilai unik pada ThrottleValue:")
for value in unique_values:
    print(value)

Nilai unik pada ThrottleValue:
1033
1299
1236
1230
1228
1229
1223
990
1482
1237
1238
1897

In [32]:
# Memeriksa nilai unik pada TurnValue
unique_turn_values = cleaned_data['TurnValue'].unique()

# Menampilkan semua nilai unik
print("Nilai unik pada TurnValue:")
for value in unique_turn_values:
    print(value)

Nilai unik pada TurnValue:
1507
1506
1500
1505
1512
1519

In [34]:
# Menyaring data untuk nilai ThrottleValue >= 1000
filtered_throttle_data = cleaned_data[cleaned_data['ThrottleValue'] >= 1000]

# Menampilkan data hanya untuk baris dengan nilai unik ThrottleValue
unique_throttle_data = filtered_throttle_data[filtered_throttle_data['ThrottleValue'].isin(filtered_throttle_data['ThrottleValue'].unique())]

# Menampilkan data hasil filter
print("Data berdasarkan nilai unik pada ThrottleValue (ThrottleValue >= 1000):")
display(unique_throttle_data)

Data berdasarkan nilai unik pada ThrottleValue (ThrottleValue >= 1000):

                Timestamp  TurnValue  ThrottleValue  StatusValue
459   2024-11-17 08:08:20       1507           1033         2000
460   2024-11-17 08:08:20       1507           1033         2000
461   2024-11-17 08:08:20       1507           1299         2000
462   2024-11-17 08:08:20       1507           1299         2000
463   2024-11-17 08:08:20       1507           1299         2000
...                   ...        ...            ...          ...
2021  2024-11-17 08:10:58       1519           1897         2000
2022  2024-11-17 08:10:58       1519           1897         2000
2023  2024-11-17 08:10:58       1519           1897         2000
2024  2024-11-17 08:10:58       1519           1897         2000
2025  2024-11-17 08:10:59       1519           1897         2000

[294 rows x 4 columns]

In [37]:
# Menghapus kolom Timestamp dan StatusValue
final_data = unique_throttle_data.drop(columns=['Timestamp', 'StatusValue'])

# Nama file CSV baru
output_csv_file = "filtered_turn_throttle_data.csv"

# Menyimpan data hasil filter ke CSV
final_data.to_csv(output_csv_file, index=False)

print(f"Data hasil filter (hanya TurnValue dan ThrottleValue) telah disimpan ke file: {output_csv_file}")

Data hasil filter (hanya TurnValue dan ThrottleValue) telah disimpan ke file: filtered_turn_throttle_data.csv

In [38]:
# Menghapus duplikasi berdasarkan pasangan TurnValue dan ThrottleValue
unique_pairs = final_data.drop_duplicates()

# Menampilkan data pasangan unik
print("Pasangan unik antara ThrottleValue dan TurnValue:")
display(unique_pairs)

Pasangan unik antara ThrottleValue dan TurnValue:

      TurnValue  ThrottleValue
459        1507           1033
461        1507           1299
466        1507           1236
471        1507           1230
476        1507           1228
485        1506           1228
496        1507           1229
500        1506           1229
605        1500           1229
606        1500           1228
610        1505           1228
636        1507           1223
1174       1512           1482
1514       1505           1237
1536       1505           1238
2009       1519           1897

In [40]:
# Fungsi untuk mapping nilai seperti pada Arduino
def map_value(value, in_min, in_max, out_min, out_max):
    return (value - in_min) * (out_max - out_min) / (in_max - in_min) + out_min

# Data unik untuk ThrottleValue dan TurnValue
throttle_values = [1482, 1237, 1897]
turn_values = [1512, 1505, 1519]

# Mapping nilai ThrottleValue
throttle_map_values = [map_value(value, 1000, 2000, 0, 200) for value in throttle_values]

# Mapping nilai TurnValue
turn_map_values = [map_value(value, 1000, 2000, -100, 100) for value in turn_values]

# Menampilkan hasil mapping
print("ThrottleValue -> ThrottleMapValue:")
for original, mapped in zip(throttle_values, throttle_map_values):
    print(f"{original} -> {mapped:.2f}")

print("\nTurnValue -> TurnMapValue:")
for original, mapped in zip(turn_values, turn_map_values):
    print(f"{original} -> {mapped:.2f}")

ThrottleValue -> ThrottleMapValue:
1482 -> 96.40
1237 -> 47.40
1897 -> 179.40

TurnValue -> TurnMapValue:
1512 -> 2.40
1505 -> 1.00
1519 -> 3.80

In [41]:
import numpy as np
from sklearn.linear_model import LinearRegression

# Data dari pengujian
throttle_map_values = [96.40, 47.40, 179.40]
turn_map_values = [2.40, 1.00, 3.80]

# Mengonversi data menjadi array numpy
X = np.array(throttle_map_values).reshape(-1, 1)  # ThrottleMapValue sebagai variabel independen
y = np.array(turn_map_values)  # TurnMapValue sebagai variabel dependen

# Membuat model regresi linear
model = LinearRegression()
model.fit(X, y)

# Mendapatkan koefisien regresi
slope = model.coef_[0]  # Gradien (m)
intercept = model.intercept_  # Intersep (c)

# Menampilkan persamaan
print("Persamaan linear untuk TurnValueMap:")
print(f"TurnValueMap = {slope:.4f} * ThrottleMapValue + {intercept:.4f}")

Persamaan linear untuk TurnValueMap:
TurnValueMap = 0.0208 * ThrottleMapValue + 0.1642